@import url('https://fonts.googleapis.com/css2?family=KoHo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Kode+Mono:wght@400..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: "Roboto Condensed", sans-serif;

}

h1 {
    font-family: "Kode Mono", monospace;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 300ms;
}

body {
    min-height: 100vh;
    background: rgb(31, 15, 122);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

.plusIcon {
    font-size: 1.5rem;
}

.plusIcon:hover {
    color: cyan;
    cursor: pointer;
}